{% extends "base.html.twig" %}

{% block title %}Réinitialiser mot de passe
{% endblock %}



{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Réinitialiser mot de passe</h1>
			{{ form_start(passForm) }}
			{{ form_row(passForm.password) }}

			<button class="btn btn-primary" type="submit">Envoyer</button>

			{{ form_end(passForm) }}
		</div>
	</div>
</section>


{% endblock %}
