{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
<form action="/checkout" method="POST">
    <button type="submit" class="btn btn-primary">Checkout</button>
</form>

{% endblock %}
